/*
------------------------- TAGs GERAIS
*/
form{
    margin: auto;
    display: block;
    max-width: 320px;
    background-color: #EEE;
    color: #444;
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}
fieldset{
    border-color: #BBC;
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    padding: 10px;
    margin-top: 15px;
}
/*
------------------------- TAGs DE CONTEÚDO
*/
form span{/* PARA OS '*' DOS CAMPOS OBRIGATÓRIOS (INSERIDOS VIA JAVASCRIPT) */
    color: red;
    margin-left: 3px;
    font-weight: bolder;
    font-size: 25px;
    vertical-align: top;
}
form label > span{
    font-size: 12px;
    font-weight: normal;
}
label, button, input[type="button"], input[type="submit"], input[type="reset"]{/* PARA SEPARAR OS CAMPOS */
    margin-top: 10px;
}
legend{
    padding-left: 5px;
    padding-right: 5px;
}
label{
    padding-top: 5px;
    padding-right: 10px;
    border-radius: 5px;
    border:1px solid #EEE;
    display: block;
    font-weight: 400;
    width: 90%;
    box-sizing: border-box;
}
input, select, textarea, button{
    padding: 5px;
    border-radius: 5px;
    border:1px solid #008f36;
    display: inline-block;
    width: 90%;
    box-sizing: border-box;
    resize: none; /* IMPEDE QUE O textarea POSSA SER REDIMENSIONADO PELO USUÁRIO */
}
input:hover, select:hover, textarea:hover{
    background-color: #EEF;
}
input:focus, select:focus, textarea:focus{
    background-color: #CCF;
    outline: none;
}
optgroup{
    background-color: #FFF;
    font-style: normal;
    color: #444;
}
option{
    padding: 5px;
    padding-left: 10px;
    color: #444;
}
/*
------------------------- TIPOS DE INPUT E COMBINAÇÕES
*/
label > input{ /* RADIOBUTTONs E CHECKBOXes */
    width: auto;
    float: right;
}
input[type="button"], input[type="reset"], input[type="submit"], button{
    margin-top: 20px;
    padding: 10px;
    width: 157px;
    color: #FFF;
    text-align: center;
    text-shadow: 2px 2px rgba(0, 0, 0, .5);
    font-weight: bolder;
    background-color: #44F;
    border-radius: 20px;
    border-color: #444;
    border-width: 0;
    border-bottom-width: 4px;
    border-right-width: 3px;
    cursor: pointer;
}
input[type="reset"]{
    background-color: #777;
}
input[type="submit"]{
    background-color: #3A5;
    width: 100%;
}
input[type="button"]:focus, input[type="button"]:hover, button:focus, button:hover{
    background-color: #44C;
}
input[type="reset"]:focus, input[type="reset"]:hover{
    background-color: #555;
}
input[type="submit"]:focus, input[type="submit"]:hover{
    background-color: #394;
}
/* ------------------------------------------------- */
input[type="file"]{ /* ESTE CAMPO NÃO PODE SER FORMATADO A CONTENTO, ENTÃO USE UM LABEL COM A CLASSE .inputFile */
    float: left;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
    border: none;
}
.inputFile{
    padding: 1px;
    margin-top: 0;
    border-radius: 5px;
    border:1px solid #008f36;
    display: inline-block;
    width: 90%;
    box-sizing: border-box;
    background-color: #FFF;
    line-break: strict;
}
.inputFile > span{/* LABEL QUE SUBSTITUI O INPUT TYPE=FILE */
    display: inline-block;
    color: #FFF;
    font-size: 16px;
    font-weight: bolder;
    vertical-align: middle;
    text-shadow: 2px 2px rgba(0, 0, 0, .5);
    
    background-color: #44F;
    border-radius: 5px;
    border-color: #444;
    border-width: 0;
    border-bottom-width: 4px;
    border-right-width: 3px;
    
    margin: 0;
    margin-right: 5px;
    padding: 5px;
}
.inputFile > span:hover{
    background-color: #44C;    
}
/*
------------------------- OUTRAS TAGS
*/
form img{
    width: 90%;
    height: auto;
    border-radius: 7px;
}
form a{
    color: #3A5;
    border-style: none;
    font-weight: 100;
    font-size: 12px;
    padding: 0;
    padding-top: 10px;
    margin: 0;
}
form a:hover{
    color: #333;
    text-decoration: underline;
}
/*
------------------------- PARA TELAS PEQUENAS
*/
@media screen and (max-width: 600px){
    form{
        width: 100%;
        background-color: #EEE;
        padding: 10px;
        margin: auto;
    }
    fieldset{
        padding: 5px;
    }
    input[type="button"], input[type="reset"], input[type="submit"], button{
        width: 98%;
    }
}