/*
------------------------- TAGs GERAIS
*/
*{
    padding: 0;
    border-width: 0;
    border-radius: 0;
    border-style: solid;
    border-color: #7B7;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    overflow: auto;
    box-sizing: border-box;
}
body{
    background: #073b4c;
    color: #000;    /*corTextoPrimaria*/
}
body > div{
    background: #efefef;
    color: #073b4c;
}
.painelDegrade{
    background-color: #efefef;
    background: linear-gradient(#efefef, transparent);
    border-radius: 4px;
}
.centralizado{
    text-align: center;
}
.aEsquerda{
    float: left;
}
.cartao{
    width: 100%;
    max-width: 400px;
    display: inline-block;
    margin: 10px;
    background-color: #FFF;
    border-radius: 5px;
}
.cartao > img{
    width: 100%;
    height: 250px;
    margin: 0;
    border: 0;
    padding: 0;
    border-radius: 0;
}
.inscrevase{
    min-width: 150px;
    border-width: 2px;
    border-color: #149dcc;
    border-radius: 20px;
    color: #073b4c;
    background-color: transparent;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}
.inscrevase.saibaMais{
    background-color: #149dcc;
    color: #FFF;
}
.inscrevase:hover{
    background-color: #073b4c;
    color: #FFF;
    text-decoration: none;
}
.menosPadding{
    padding: 2px !important;
    margin: 0 !important;
    min-width: 80px;
}
h1{
    padding-top: 40px;
    padding-bottom: 40px;
    color: #8D8;    /*corTextoTerciaria*/
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}
h2{
    color: #073b4c;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: calc(( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)))/2);
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
}
h3{
    text-align: center;
    font-style: italic;
    margin-bottom: 20px;
}
h4{
    color: #000;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 20px;
}
/*
------------------------- TAGs DISPLAY PADRÃO INLINE
*/
img{
    display: block;
    margin: auto;
    width: 90%;
}
.fechar{ /* BOTÃO DE FECHAR */
    border-width: 0;
    padding: 0;
    width: 26px;
    height: auto;
    float: right;
    cursor: pointer;
    background-color: transparent;
}
.fechar:hover, .fechar:focus { /* QUANDO O MOUSE PASSAR EM CIMA, OU ESTIVER EM FOCO */
    border-width: 3px;
    border-style: solid; /* por causa do input[type='image']*/
    border-color: #FFF;    /*corFundoPrimaria*/
    border-radius: 12px;
}
.divTabela .fechar{
    float: none;
}
.evento{
    text-align: center;
    width: 90%;
    margin: auto;
}
.evento > div > img{
    display: block;
    margin: auto;
    max-width: 70%;
    min-width: 300px;
    height: auto;
    
}
.evento > div > p{
    text-align: center;
}
.evento .tag{
    text-align: left;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 20px;
    vertical-align: middle;
}
.evento .tag *{
    font-weight: bolder;
}
.evento .tag a{
    color: #073b4c;
}
.evento .aEsquerda img{
    height: 90px;
    width: auto;
    margin-right: 30px;
}
/*
------------------------- TAGs a
*/
a{
    color: #073b4c;
    text-decoration: none;
    font-weight: normal;
    display: inline-block;
}
a:hover{
    text-decoration: underline;
}



.invisivel{
    display: none;
}

form.paginaLogin{
    display: block;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    padding-bottom: 50px;
}
form.paginaLogin label{
    border-width: 0;
}
form.paginaLogin a{
    color: #FFF;
    margin-top: 20px;
    display: block;
}
section.paginaLogin{
    margin-bottom: 100px;
}
section.paginaLogin + footer{
}
@media screen and (max-width: 500px) {
    .cartao{
        width: 400px;
        margin: auto;
        margin-bottom: 20px;
    }
    .cartao > img{
        
    }
    form.paginaLogin{
        width: 90%;
    }
}
@media screen and (min-width: 900px) {
    .evento > div:not(:last-child){
        vertical-align: top;
        display: inline-block;
        word-break: break-all;
    }
    .evento > div > img{
        max-width: 300px;
    }
}