/*
------------------------- TAGs GERAIS
*/
*{
    padding: 0;
    margin: 0;
    border-width: 0;
    font-size: 16px;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #444;
    padding: 10px;
    color: #FFE;
}
/*
------------------------- TAGs ESTRUTURAIS
*/
nav{
    text-align: left;
}
section{
}
/*
------------------------- TAGs DISPLAY PADRÃO BLOCK
*/
h1{
    font-size: 30px;
}
section h2, h2 span{
    font-size: 30px;
    display: inline-block;
}
section ul{
    list-style: none;
    overflow: auto;
}
section ul span, section h2 span{
    display: block;
    font-weight: bold;
    margin-top: 10px;
}
/*
------------------------- TAGs DISPLAY PADRÃO INLINE
*/
/*
------------------------- TAGs a
*/
a{
    color: #383;
}
footer{
    clear: both;
}
#conteudo > img, #atualizavel > img{
    display: inline-block;
    width: 400px;
    height: auto;
    float: right;
}
@media screen and (max-width: 600px){
    *{
        padding: 3px;
        margin: 0;
    }
    body, #conteudo{
        padding: 0;
    }
    .desaparecer{
        display: none;
    }
    section ul span, section h2 span{
        display: block;
    }
    #conteudo img{
        width: 100%;
        height: auto;
    }
    
}