/*
------------------------- TAGs GERAIS
*/
*{
    padding: 0;
    margin: 0;
    border-width: 0;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}
body{
    background-color: #FFF;
    color: #006;
    padding-top: 45px;/* PARA O MENU */
}
/*
------------------------- TAGs ESTRUTURAIS
*/
header{
}
nav{
}
section#conteudo{
}
article{
    background-color: #EEE;
    padding: 0;
    margin: 5%;
    border-radius: 10px;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
}
article:hover{
    background-color: #CCC;
}
article > span{
    display: inline-block;
    position: absolute;
    margin: 8px;
    cursor: pointer;
}
article > span > img{
    width: 25px;
}
article > span > img:hover{
    border: 2px solid #FFF;
    border-radius: 12px;
}
article > form{
    padding: 0;
    background-color: transparent;
    border: none;
}
article > form > label{
    width: 100%;
    overflow: auto;
    padding: 0;
    border: none;
}
article > form > label > h2{
    color: #FFF;
    text-align: center;
    background-color: rgb(50, 180, 50);
    border-radius: 10px;
    padding: 10px;
}
article > form > label > p{
    padding-left: 10px;
    padding-top: 5px;
}
article > form > label > input[type="submit"]{
    width: auto;
    margin: 0;
}
footer{
    clear: both;
}
/*
------------------------- TAGs DISPLAY PADRÃO BLOCK
*/
h2{
    font-size: 18px;
    padding: 4px;
}
/*
------------------------- TAGs DISPLAY PADRÃO INLINE
*/
/*
------------------------- TAGs a
*/
a{
    color: rgb(50, 180, 50);
    text-decoration: none;
    font-weight: normal;
    font-size: 12px;
    display: inline-block;
}
a:hover{
    color: rgb(50, 220, 220);
    text-decoration: underline;
}
a:visited{
    color: rgb(200, 200, 50);
}
/*
------------------------- CLASSES CONTROLADORAS DO LAYOUT
*/
.coluna{
    width: 100%;
    display: block;
    padding: 5px;
}
.coluna > img{
    width: 50%;
    display: block;
    margin: auto;
}
.desaparecer{
    display: none;
}
#conteudo > img, #atualizavel > img{
    display: inline-block;
    width: 100%;
    height: auto;
}
#conteudo > ul > li, #atualizavel > ul > li{
    padding: 4px;
    font-size: 14px;
}
#conteudo > ul > li > span, #atualizavel > ul > li > span{
    display: block;
    font-size: 16px;
}
#conteudo > ul > li > form, #atualizavel > ul > li > form{
    float: right;
    width: auto;
}