*{
    padding: 0;
    margin: 0;
    border-width: 0;
    font-size: 16px;
}
body{
    background-color: #444;
    text-align: center;
    padding: 10px;
}
input{
    padding: 3px;
    border-radius: 5px;
    border:1px solid #008f36;}
h1{
    font-size: 30px;
}
form{
    text-align: left;
    margin-bottom: 20px;
    margin-top: 20px;
}
label{
    display: block;
    font-size: 16px;
}
input[type="submit"]{
    background-color: #3A5;
    color: #FFF;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    border-radius: 25px;
}
nav{
    text-align: left;
}
a{
    display: block;
    color: #383;
    font-size: 16px;
}
p{
    font-size: 16px;
}