.detalhes span{
    display: block;
    font-weight: bold;
    margin-top: 10px;
}
ul.detalhes > li > form{
    display: inline;
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
}
ul.detalhes > li > form > input[type="submit"]{
    display: inline;
    margin: 0;
    width: auto;
}