#paginaLogin a{
    display: block;
    padding-top: 15px;
    text-decoration: none;
    border-bottom: 1px solid #DDD;
}
#paginaLogin .desaparecer a{
    font-weight: bold;
    color: #DDD;
}
#paginaLogin .desaparecer a:hover{
    color: #FFF;
    background-color: #444;
}
/*
------------------------- DISPLAYS GRANDES
*/
@media screen and (min-width: 601px){
    #paginaLogin{
        width: 600px;
        margin: auto;
        overflow: auto;
    }
    #paginaLogin div:first-child{
        width: 300px;
        float: left;
        vertical-align: middle;
    }
    #paginaLogin div.desaparecer{
        width: 298px;
        margin-top: 100px;
        padding:100px 0 100px 20px;
        background-color: #333;
    }
}
@media screen and (min-width: 801px){
    #paginaLogin{
        width: 800px;
    }
    #paginaLogin div:first-child{
        width: 400px;
    }
    #paginaLogin div.desaparecer{
        width: 398px;
    }
}