/*
------------------------- TAGs GERAIS
*/
nav{
    background-color: rgb(51,51,51);
    margin: auto;
    color: #DDD;
}
nav a{
    color: #DDD;
    text-decoration: none;
    font-weight: bolder;
    padding: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
nav a:last-child{
    border-bottom-style: none;
}
nav a:hover{
    color: #3A5;
}
/*
------------------------- CONFIGURAÇÕES ESPECÍFICAS DA PÁGINA DE LOGIN
*/
#paginaLogin{
    width: 80%;
    height: 400px;
    margin-top: 60px;
    margin-bottom: 120px;
}
#paginaLogin > div{
    display: inline-block;
    width: 48%;
    vertical-align: middle;
}
#paginaLogin > div:first-child{
    margin-top: -50px;
}