/*
------------------------- TAGs GERAIS
*/
nav{
    background-color: #073b4c;
}
nav a{
    float: left;
    display: block;
    color: #F1F1FF;
    text-align: center;
    background-color: #073b4c;
    padding: 14px 16px;
    font-weight: bolder;
    transition: 0.3s;
}
nav a.opcoes{
    display: none;
}

nav a.opcoes span{
    display: block;
    background-color: #FFF;
    width: 30px;
    height: 2.5px;
    margin: 4px 0;
    transition: 0.5s;
}

nav .dropdown {
    float: left;
}

nav .dropdown .dropdownBtn {
    margin: 0;
    border: none;
    outline: none;
    padding: 14px 16px;
    color: #F1F1FF;
    font-weight: bolder;
    background-color: #073b4c;
    transition: 0.3s;
}

nav .dropdown > div {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

nav .dropdown > div a {
    float: none;
    padding: 12px 16px;
    display: block;
    text-align: left;
}

nav a:hover, nav .dropdown:hover .dropdownBtn {
    background-color: #074b5c;
    text-decoration: none;
}

nav .dropdown:hover > div{
    position: fixed;
    display: block;
}

nav .dropdown > div a:hover {
    background-color: #074b5c;
    text-decoration: none;
}

nav.menuAberto a.opcoes .barra1{
    transform: rotate(-45deg) translate(0px, 5px) scale(1.2, 2);
}
nav.menuAberto a.opcoes .barra2{
    display: none;
}
nav.menuAberto a.opcoes .barra3{
    transform: rotate(45deg) translate(0px, -5px) scale(1.2, 2);
}
@keyframes animaMenuAbrir { /*PARÂMETROS DA ANIMAÇÃO (DESLIZAR DE ESQUERDA PARA A POSIÇÃO DEFINIDA) */
    from {left:-300px; opacity:0}
    to {left:0; opacity:1}
}

@media screen and (max-width: 800px) {
    nav a, nav .dropdown .dropdownBtn {
        display: none;
    }
    nav.paginaLogin a{
        display: block !important;
    }
    nav a.opcoes {
        display: block;
    }
    nav.menuAberto {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,.4);
        z-index: 1030;
    }
    nav.menuAberto a.opcoes {
        position: absolute;
        top: 0;
        right: 0;
    }
    nav .dropdown:hover > div{
        position: relative;
    }
    nav.menuAberto a:not(.opcoes), nav.menuAberto .dropdown {
        float: none;
        display: block;
        text-align: left;
        animation-name: animaMenuAbrir;
        animation-duration: 0.5s;
    }
    nav.menuAberto .dropdown {
        width: 100%;
    }
    nav.menuAberto .dropdown .dropdownBtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}