footer{
    clear: both;
    width: 100%;
    background-color: #000;
    color: #FFF;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
footer p{
    margin-bottom: 15px;
}