table, .divTabela{
    display: table;
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
    border-width: 2px;
    border-color: #afafaf;
}
table > thead, .divTabela > ul.cabecalho{
    color: #000;    /*corTextoTerciaria*/
    font-weight: bolder;
    background-color: #FFF;    /*corFundoTerciaria*/
}
table > tbody > tr, .divTabela > ul{
    display: table-row;
    background-color: #FFF;
    border: solid 2px;
}
table > tbody > tr:not(:nth-child(even)), .divTabela > ul:nth-child(even){
    background-color: #efefef;
}
table > tbody > tr:hover, .divTabela > ul:hover{
    background-color: #afafaf;    /*corFundoSecundaria*/
}
table > thead th, .divTabela > ul.cabecalho > li{
    padding: 10px;
    font-weight: bolder;
}
table > tbody td, .divTabela > ul > li{
    display: table-cell;
    text-align: center;
    height: 40px;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    border: none;
}


